<%= form_for :session, url: login_path, html: {class: "nifty_form"} do |f| %>
  <%= label_tag(:session_email, "Email") %>
  <%= f.email_field :email, class: "form-control", required: true %>

  <%= label_tag(:session_password, "Password") %>
  <%= f.password_field :password, class: "form-control", required: true %>
  <br><br>
  <%= f.submit "Login", class: "btn btn-primary mb-2" %>
<% end %>
