<% if @lots.present? %>
  <div class="card-columns">
    <% @lots.each do |lot| %>
      <div class="card" >
        <img src="https://picsum.photos/300/200?image=<%= rand(1000) %>" class="card-img-top" alt="Placeholder">
        <div class="card-body">
          <h5 class="card-title"><%= lot.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= number_to_currency(lot.price, unit: '€', precision: 0) %></h6>
          <p class="card-text ellipsis"><%= lot.description %></p>
          <%= link_to 'View Lot', lot_path(lot), class: 'card-link btn btn-primary'  %>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @lots %>
<% else %>
  <div class="card text-center">
    <div class="card-header">
      Oops...
    </div>
    <div class="card-body">
      <h5 class="card-title">There are no lots on this auction yet</h5>
      <p class="card-text">Try selling something by clicking the button below.</p>
      <%= link_to  'Add a Lot', new_lot_path, class: 'btn btn-success' %>
    </div>
  </div>
<% end %>

