<%= form_for @user, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
  <%= label_tag(:user_balance, "Balance") %>
  <%= f.number_field :balance, class: "form-control", required: true %>

  <br><br>
  <%= f.submit "Top Up", class: "btn btn-primary mb-2" %>
<% end %>
