<%= render partial: "shared/errors", locals: {object: @user} %>
<%= form_for @user, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= label_tag(:user_email, "Email") %>
  <%= f.email_field :email, class: "form-control", required: true %>

  <%= label_tag(:user_password, "Password") %>
  <%= f.password_field :password, class: "form-control", required: true %>

  <%= label_tag(:user_password_confirmation, "Password Confirmation") %>
  <%= f.password_field :password_confirmation, class: "form-control", required: true %>

  <br><br>
  <%= f.submit "Create", class: "btn btn-primary mb-2" %>
<% end %>
