<% if object.errors.messages.present? %>
  <% object.errors.messages.each do |field, message| %>
    <% message.each do |m| %>
      <div class="alert alert-danger" role="alert">
        <%= field.to_s.humanize %> - <%= m %>
      </div>
    <% end %>
  <% end %>
<% end %>
