<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Auction.io', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to  'Add a Lot', new_lot_path, class: 'nav-link btn btn-success', role: 'button' %>
        </li>
      <% end %>
    </ul>
    <% if logged_in? %>
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.email %> <span class="badge badge-light"><%= number_to_currency(current_user.balance, unit: '€', precision: 0) %></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to  'Top Up Balance', edit_user_path(current_user), class: 'dropdown-item' %>
          <%= link_to  'Logout', logout_path, method: :delete, class: 'dropdown-item' %>
        </div>
      </div>
    <% else %>
      <%= link_to  'Sign Up', new_user_path, class: 'nav-link btn btn-success m-2', role: 'button' %>
      <%= link_to  'Login', login_path, class: 'nav-link btn btn-primary m-2', role: 'button' %>
    <% end %>
  </div>
</nav>
