<%= render partial: "shared/errors", locals: {object: @lot} %>
<%= form_for @lot, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= label_tag(:lot_name, "Name") %>
  <%= f.text_field :name, class: "form-control", required: true %>

  <%= label_tag(:lot_price, "Price") %>
  <%= f.number_field :price, class: "form-control", required: true %>

  <%= label_tag(:lot_description, "Description") %>
  <%= f.text_area :description, class: "form-control", rows: 3, required: true %>

  <%= label_tag(:lot_start_date, "Start Date") %>
  <%= f.date_field :start_date, class: "form-control", required: true %>

  <%= label_tag(:lot_end_date, "End Date") %>
  <%= f.date_field :end_date, class: "form-control", required: true %>
  <br><br>
  <%= f.submit "Create", class: "btn btn-primary mb-2" %>
<% end %>
