<% if logged_in? %>
  <% if current_user.id == @lot.user_id %>
    <div class="alert alert-warning" role="alert">
      You can't bid on your own lots!
    </div>
  <% end %>
<% else %>
  <div class="alert alert-warning" role="alert">
    Please, Sign Up or Login to start bidding.
  </div>
<% end %>

<h1>
  <%= @lot.name %>
  <small class="text-muted" id="countdown-timer" data-end-date="<%= @lot.end_date %>" data-status="<%= @lot.status %>"></small>
</h1>
<h3>Buyout Price: <%= number_to_currency(@lot.price, unit: '€', precision: 0) %></h3>
<img src="https://picsum.photos/300/200?image=<%= rand(1000) %>" class="rounded float-left mr-5 mb-5" alt="Placeholder">
<p class="lead">
  <%= @lot.description %>
</p>
<% if logged_in? && @lot.active? && current_user.id != @lot.user_id %>
  <div class="input-group mb-3 w-25">
    <input type="text" class="form-control" placeholder="Your bid" aria-describedby="button-addon2" id="bid-amount" data-lot-id="<%= @lot.id %>" type="number">
    <div class="input-group-append">
      <button class="btn btn-success" type="button" id="button-addon2 make-a-bid">Bid</button>
    </div>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Bidder</th>
      <th scope="col">Amount</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    <% @lot.bids.order('created_at desc').each do |bid| %>
      <tr>
        <td><%= "Bidder ##{bid.user_id}" %></td>
        <td><%= bid.bid_amount %></td>
        <td><%= bid.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
