@import "bootstrap";

.container.auctions-list {
  & > .row { margin-top: 20px; }
}

.main-paginator { margin-top: 20px; }
.main-content { width: 1366px; margin-top: 20px; }
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
